<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:${database.path}</property>
        <property name="hibernate.connection.username">${database.username}</property>
        <property name="hibernate.connection.password">${database.password}</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>

        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <property name="hibernate.c3p0.timeout">300</property><!-- timeout should be a value a little bit higher than the http timeout from uploading -->
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.idle_test_period">0</property>

        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.HeartRateSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650AmbientlightSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650HumiditySample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650MovementSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650PressureSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650TemperatureSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.PulseOximeterSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.LuminoxTemperatureSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.LuminoxOxygenSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.LuminoxAirPressureSample"/>

    </session-factory>
</hibernate-configuration>

