<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:${database.path}</property>
        <property name="hibernate.connection.username">${database.username}</property>
        <property name="hibernate.connection.password">${database.password}</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>

        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.HeartRateSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650AmbientlightSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650HumiditySample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650MovementSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650PressureSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.CC2650TemperatureSample"/>
        <mapping class="de.fhg.fit.biomos.sensorplatform.sample.PulseOximeterSample"/>
    </session-factory>
</hibernate-configuration>

