@charset "UTF-8";

.container {
	background-color: #009374;
	height: 100vh;
}

textarea {
	resize: vertical;
}

input {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

input:focus {
	border-color: #ccc !important;
}

#configview, #dbcontentview, #detected {
	width: 100%;
}

#duration {
	width: 50%
}

.divinsidewell {
	overflow: hidden
}

li>a, li>a:hover, li>a:focus {
	color: #000 ! important;
}