@charset "UTF-8";

#headField{
	background-image: url(sky.jpg);
}
.container {
	background-color: #009374;
	height: 130vh;
}

textarea {
	resize: vertical;
}

input {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

input:focus {
	border-color: #ccc !important;
}

#configview, #dbcontentview, #detected {
	width: 100%;
}

#duration {
	width: 50%
}

#configWLAN{
	width:100%;
}

#configDongle{
	width: 100%;
}

#divexampleDongle{
	position: absolute;
	top: 50%;
	left: 90%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#divexampleWLAN{
	position: absolute;
	top: 50%;
	left: 90%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}


.divinsidewell {
	overflow: hidden
}

li>a, li>a:hover, li>a:focus {
	color: #000 ! important;
}